<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anserx.yqcoding.mq.mapper.ProducerLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.anserx.yqcoding.mq.entity.ProducerLog">
        <result column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="message_id" property="messageId" />
        <result column="queue_info" property="queueInfo" />
        <result column="request_param" property="requestParam" />
        <result column="ack" property="ack" />
    </resultMap>
</mapper>
